//COLORS
$color-primary: #dbf4e4;
$color-secondary: #0b2229;

$color-primary-light: #f4ffff;

$color-dark-green: rgb(2, 103, 107);
$color-light-green: rgb(186, 205, 205);
$color-pink: #ffdede;

$color-grey-dark-1: #222222;
$color-grey-dark-2: #333333;

$color-grey-light: #aaadb0;

$color-white: #ffffff;
$color-black: #000000;

//FONT
$default-font-size: 1.6rem;
